@import "variables.pcss";

.site-title {
	margin-top: 0;
	margin-block-end: 0.125em;
	text-align: center;

	@media screen and ( min-width: $br-tablet ) {
		margin-block-end: 0.25em;
	}
}

.site-title-link {
	@mixin link-inherit-color;
}
