@define-mixin align-wide {
	@media ( min-width: 68rem ) {
		width: 80vw;
		max-width: 50rem;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: calc(-40vw + ((80vw - 50rem) / 2));
		margin-right: calc(-40vw + ((80vw - 50rem) / 2));
	}
}
