@define-mixin button {
	background-color: var(--link-color);
	color: var(--background-color);
	border: none;
	padding: calc(0.25em + 1px) 0.75em;

	&:focus {
		outline: none;
		box-shadow: 0 0 3px var(--link-color);
	}

	&:active {
		box-shadow: inset 0 0 2px var(--foreground-color), 0 0 3px var(--link-color);
	}
}
