@import "variables.pcss";

@media ( prefers-color-scheme: no-preference ), ( prefers-color-scheme: light ) {
	:root {
		--background-color: $color-white;
		--border-color: $color-gray;
		--foreground-color: $color-black;
		--link-color: $color-blue;
	}
}

@media ( prefers-color-scheme: dark ) {
	:root {
		--background-color: $color-black;
		--border-color: $color-gray;
		--foreground-color: $color-white;
		--link-color: $color-red;
	}
}

body {
	font-family: $font-serif;
	line-height: 1.625;
	background-color: var(--background-color);
	color: var(--foreground-color);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media screen and ( min-width: $br-tablet ) {
		font-size: 1.125rem;
	}

	@media ( prefers-color-scheme: dark ) {
		line-height: 1.7;
	}
}

a {
	&,
	&:visited {
		color: var(--link-color);
	}

	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

figure {
	margin-left: 0;
	margin-right: 0;
	text-align: center;

	&[style] {
		width: unset !important;
	}
}

figcaption {
	font-size: 0.875em;
	font-style: italic;
	margin-bottom: 0.5em;
}

iframe {
	display: block;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-sans-serif;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.125rem;
}

h3,
h4,
h5,
h6 {
	font-size: 1rem;
}

@media screen and ( min-width: $br-tablet ) {
	h1 {
		font-size: 1.75rem;
	}

	h2 {
		font-size: 1.375rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 1.125rem;
	}
}

p {
	&:empty {
		display: none;
	}

	@media ( prefers-color-scheme: dark ) {
		word-spacing: 0.05em;
	}
}

ul,
ol {
	padding-inline-start: 1.75rem;

	> li {
		@media screen and ( min-width: $br-tablet ) {
			padding-left: 0.375em;
		}
	}
}

code {
	font-family: $font-monospace;

	@media screen and ( min-width: $br-tablet ) {
		font-size: 1rem;
	}
}

pre {
	width: 100%;
	max-height: 25rem;
	overflow: visible;
	tab-size: 4;
	font-family: $font-monospace;

	code {
		display: block;
		height: inherit;
		max-height: inherit;
		overflow: auto;
		font-size: inherit;
	}

	@media ( orientation: landscape ) and ( max-height: $br-mobile ) {
		max-height: 80vh;
	}
}

blockquote {
	margin-block-start: 1.5em;
	margin-block-end: 1.5em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-left: 1.5em;
	border-left: 1px solid var(--foreground-color);

	@media screen and ( min-width: $br-tablet ) {
		margin-block-start: 1.75em;
		margin-block-end: 1.75em;
		padding-left: 1.75em;
	}
}

.clear {
	clear: both;
}

::selection {
	background: var(--foreground-color);
	color: var(--background-color);
}
