@import "variables.pcss";

.pagination {
	font-family: $font-sans-serif;
	font-size: 0.89em;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.pagination__link {
	@mixin link-inherit-color;
}

.pagination__separator {
	&::before {
		content: "\00a0\007c";
		margin-right: 0.625em;
		margin-left: 0.625em;
		color: var(--foreground-color);

		@media screen and ( min-width: $br-tablet ) {
			margin-right: 1em;
			margin-left: 1em;
		}
	}
}
