@import "variables.pcss";

.entry-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	margin-block-start: 0.25em;
	padding-inline-start: 0;

	@media screen and ( min-width: $br-tablet ) {
		margin-block-start: 0.375em;
	}
}

.entry-tags-item {
	padding-right: 0.375em;
	padding-left: 0.375em;
	text-align: center;
	font-family: $font-sans-serif;
	font-size: 0.875rem;
}

.entry-tags-item-link {
	@mixin link-no-decoration;

	&::before {
		content: "#";
	}
}
